@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}
html.dark {
  background-color: #111;
  color: var(--primary-color);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  height: auto;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1,
h2 {
  margin-bottom: 15px;
  font-size: 42px;
  line-height: 1.2;
  text-transform: capitalize;
}
h2 {
  font-size: 28px;
  text-align: center;
}
p {
  font-size: 18px;
  line-height: 1.2;
}
img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
