@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}
html.dark {
  background-color: #111;
  color: var(--primary-color);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  height: auto;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  margin: 0;
}

h1,
h2 {
  margin-bottom: 15px;
  font-size: 42px;
  line-height: 1.2;
  text-transform: capitalize;
}
h2 {
  font-size: 28px;
  text-align: center;
}
p {
  font-size: 18px;
  line-height: 1.2;
}
img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.btn {
  border: 0;
  padding: 12px 15px;
  background-color: #f9ca24;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 3px;
  box-shadow: 0 3px rgba(249, 202, 36, 0.5);
  cursor: pointer;
  z-index: 100;
}
.btn:focus {
  outline: none;
}
.btn:active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: 0.4s ease;
}
.boxes.big {
  width: 600px;
  height: 600px;
}
.boxes.big .box {
  transform: rotate(360deg);
}
.box {
  background-image: url("https://media4.giphy.com/media/WxxsVAJLSBsFa/200w.webp?cid=ecf05e47gcx1lqkokad3offixaizuc738cxeglufkzjstji5&ep=v1_gifs_search&rid=200w.webp&ct=g");
  background-repeat: no-repeat;
  background-size: 500px 500px;
  position: relative;
  width: 125px;
  height: 125px;
  transition: 0.4s ease;
}
.box::before {
  content: "";
  background-color: #f6e58d;
  position: absolute;
  top: 8px;
  right: -15px;
  transform: skewY(45deg);
  height: 100%;
  width: 15px;
}
.box::after {
  content: "";
  background-color: #f9ca24;
  position: absolute;
  bottom: -15px;
  left: 8px;
  transform: skewX(45deg);
  width: 100%;
  height: 15px;
}
