@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}
html.dark {
  background-color: #111;
  color: var(--primary-color);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  height: auto;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.2s ease;
  background-color: #6ef5ea;
  color: #201f1f;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  padding: 15px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
  max-width: 100%;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
}
h1,
h2 {
  margin-bottom: 15px;
  font-size: 42px;
  line-height: 1.2;
  text-transform: capitalize;
}
h2 {
  font-size: 28px;
  text-align: center;
}
p {
  font-size: 18px;
  line-height: 1.2;
}
.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #7ef37e;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 3px;
  border: none;
  padding: 0.5rem 1rem;
}
.note {
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 400px;
}
.tool {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #7ef37e;
}
.tool button {
  background: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
}
.note textarea {
  font-family: inherit;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 20px;
}
.hidden {
  display: none;
}
