@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}
html.dark {
  background-color: #111;
  color: var(--primary-color);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  height: auto;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  margin-bottom: 15px;
  font-size: 42px;
  line-height: 1.2;
  text-transform: capitalize;
}
h2 {
  font-size: 28px;
  text-align: center;
}
p {
  font-size: 18px;
  line-height: 1.2;
}
img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.container {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  max-width: 300px;
}
.title {
  margin: 0;
}
.sub-title {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.8;
}
.header {
  background-color: #3e57db;
  padding: 30px 20px;
  color: #fff;
}
.header input {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  color: #fff;
  padding: 10px 15px;
  width: 100%;
  font-size: 14px;
  border-radius: 50px;
}
input:focus {
  outline: none;
}
.user-list {
  background-color: #fff;
  max-height: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
}
.user-list li {
  display: flex;
  padding: 20px;
}
.user-list li img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.user-list .user-info,
.user-list .user-info h4 {
  margin: 0 0 0 10px;
}
