@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}
html.dark {
  background-color: #111;
  color: var(--primary-color);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  height: auto;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.2s ease;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
h1,
h2 {
  margin-bottom: 15px;
  font-size: 42px;
  line-height: 1.2;
  text-transform: capitalize;
  color: #fff;
}
h2 {
  color: #000;
  font-size: 34px;
}
p {
  font-size: 18px;
  line-height: 1.2;
}
.slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.slide-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.slide-left > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-right {
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide-right > div {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.slider button {
  position: absolute;
  left: 35%;
  top: 50%;
  font-size: 16px;
  padding: 15px;
  z-index: 100;
  border: none;
  color: #cec9c9;
  background-color: #fff;
}
.slider button:hover {
  color: #333;
}

.slider .down-btn {
  transform: translateX(-100%);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.slider .up-btn {
  transform: translatey(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
