@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}
html.dark {
  background-color: #111;
  color: var(--primary-color);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.2s ease;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
h1,
h2 {
  margin-bottom: 15px;
  font-size: 42px;
  line-height: 1.2;
  text-transform: capitalize;
  color: #fff;
}
h2 {
  color: #000;
  font-size: 34px;
}
p {
  font-size: 18px;
  line-height: 1.2;
}

.slider {
  display: grid;
  grid-template-columns: 500px 1fr;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.slider-text,
.slider-img {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.slider-text > div {
  width: 100%;
  height: 100%;
}
.slider-img > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100$;
}
button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.slider-text button {
  right: 0;
  top: 58%;
}
.slider-img button {
  left: 0;
}
