@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}
html.dark {
  background-color: #111;
  color: var(--primary-color);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  height: auto;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(13, 13, 36);
  position: relative;
}

.card {
  background-color: #fff;
  max-width: 350px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.card:before {
  content: "";
  position: absolute;
  width: 3%;
  height: 110%;
  left: 0;
  top: -15px;
  background-color: #fff;
  transform: translateX(-400px);
  transition: all 0.5s;
}
.animate-active.card:before {
  animation: slide 2s infinite ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(400px);
  }
}
.img,
.info-img,
h3,
h4,
p {
  background-color: #33333330;
  border-radius: 30px;
}
h3,
h4,
p {
  color: transparent;
}
.img {
  border-radius: 0;
}
.img img {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
  opacity: 0;
}
.content {
  padding: 50px 20px 20px;
}
h3,
h4 {
  margin-bottom: 10px;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.info-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0;
}
