@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}
html.dark {
  background-color: #111;
  color: var(--primary-color);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  height: auto;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

h1,
h2 {
  margin-bottom: 15px;
  font-size: 42px;
  line-height: 1.2;
  text-transform: capitalize;
}
h2 {
  font-size: 28px;
  text-align: center;
}
p {
  font-size: 18px;
  line-height: 1.2;
}
img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.container {
  border-radius: 5px;
  border: 3px solid #111;
  padding: 15px;
  text-align: center;
}
.input-container {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code {
  font-size: 70px;
  text-align: center;
  height: 120px;
  width: 100px;
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 1%;
  font-weight: 300;
}

.code::-webkit-inner-spin-button,
.code::-webkit-outter-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code:valid {
  border-color: #3498db;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}
