:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--primary-color);
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 15px;
}
h2 {
  color: #fff;
}
.search {
  padding: 10px;
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 50px;
  outline: none;
  color: #fff;
}
.search:focus {
  outline: none;
  background-color: var(--primary-color);
}
::placeholder {
  color: #7378c5;
}

.main {
  display: flex;
  justify-content: center;
  padding: 30px 15px;
  flex-wrap: wrap;
  gap: 15px;
}

img {
  height: auto;
  width: 100%;
}
.movie {
  background-color: var(--secondary-color);
  color: #fff;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 300px;
}
.movie-info {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overview {
  padding: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #fff;
  color: #000;
  max-height: 100%;
  transform: translateY(100%);
  transition: all 0.5s ease-in;
}
.movie:hover .overview {
  transform: translateY(0);
}
.movie-info span {
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
}
span.green {
  color: lightgreen;
}
span.orange {
  color: orange;
}
span.red {
  color: red;
}
