@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}
html.dark {
  background-color: #111;
  color: var(--primary-color);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  height: auto;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
h1,
h2 {
  margin-bottom: 15px;
  font-size: 42px;
  line-height: 1.2;
  text-transform: capitalize;
  color: #fff;
}
h2 {
  color: #000;
  font-size: 34px;
}
p {
  font-size: 18px;
  line-height: 1.2;
}

.box {
  max-width: 350px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  cursor: pointer;
}
.box img {
  width: 300px;
  margin: 0 auto;
}

.like-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 15px 0;
}
.heart {
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  transform-origin: center;
  background-color: red;
}
.like-box div {
  display: flex;
  align-items: center;
  gap: 15px;
}
.likes {
  font-size: 22px;
}
.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: red;
}
.heart::before {
  left: -10px;
}
.heart::after {
  top: -10px;
}
.clicked {
  transition: transform 1s ease-in-out;
  animation: click 1s linear;
}
@keyframes click {
  0% {
    transform: rotate(45deg) scale(1);
    opacity: 1;
  }
  25% {
    transform: rotate(45deg) scale(0);
    opacity: 0;
  }
  50% {
    transform: rotate(45deg) scale(1.5);
    opacity: 1;
  }
  75% {
    transform: rotate(45deg) scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: rotate(45deg) scale(1);
    opacity: 1;
  }
}
